
//? == Home ==

.home {
	margin-bottom: 146px;

	&__container {
		padding-top: 18px;
		padding-bottom: 50px;

		background: url('../img/home/home__bg.svg') right 74px top 0 / contain no-repeat;
	}

	&__suptitle {
		margin-bottom: 32px;

		&::before {
			content: '';
			display: inline-block;
			width: 36px;
			height: 3px;

			margin-right: 7px;

			background-color: $Pink;
		}
	}

	&__title {
		max-width: 600px;

		margin-bottom: 30px;
	}

	&__text {
		max-width: 540px;

		margin-bottom: 50px;
	}

	&__link {}
}