//? == Testimonial ==

.testimonial {
	margin-bottom: 210px;

	&__container {
		display: flex;
		flex-direction: row;
		justify-content: center;

		position: relative;
	}

	&__bg {
		width: 420px;
		height: 420px;

		margin-right: 130px;

		flex-shrink: 0;

		border-radius: 8px;
		background: url('../img/testimonial/testimonial__bg.svg') center / 308px 350px no-repeat,
		$Pink;

		box-shadow: $PinkShadow;
	}

	&__content {
		max-width: 510px;
	}

	&__suptitle {
		margin-bottom: 20px;
	}

	&__title {
		margin-bottom: 38px;
	}

	&__text {
		max-width: 400px;

		margin-bottom: 34px;

		letter-spacing: 0;
	}

	&__name {
		margin-bottom: 8px;
	}

	&__region {
		font-size: 16px;
		font-weight: 400;
		letter-spacing: 0;
		color: $Gray;
	}

	&__slider {
		position: absolute;
		right: 70px;
		bottom: 0;
	}
}